body {
	margin:0;
	padding:0 0 10px 0;
	font-size:1em;
	color:#444;
}

a {
	text-decoration:none;
	color:#444;
}

.pageWrapper {
	display: flex;
	flex-flow:row wrap;
	background-color:#FFF;
	margin:auto;
}

header, nav.mainMenu, nav.sideMenu, footer {
	flex-grow:1;
	flex-basis:100%;
	order:1;
}

header {
	font:1.4em Verdana, sans-serif;
	margin:0;
	padding:20px;
	background-color:#FFF;
	order:1;
	z-index:10;
	border-bottom: 1px solid #999;
}

footer {
	order:5;
}

main {
	margin:10px 10px 30px 10px;
	padding: 20px;
	order:4;
}

nav.mainMenu > ul.topMenu {
	display:flex;
}

/*--- @media all and (min-width: 750px) {*/
	main {
		flex-grow:4;
		flex-basis:500px;
	}

	nav.sideMenu {
		display:block;
		background-color:#EEE;
		flex-grow:1;
		flex-basis:100px;
		order:3;
		min-width:255px;
	}
/*}
*/

main > section {
	display:flex;
	flex-flow:row wrap;
	margin:0 0 0 10px;
}

main > section > h2 {
	width:100%;
	background-color:#FFF;
	padding:20px 10px 10px 30px;
	margin:0 0 20px 0;
	font:bold 2em Palatino Linotype;
	text-align:left;
}

section > article {
	margin:0 10px 10px 10px;
	padding-bottom:10px;
	background-color:#FFF;
	flex-basis:200px;
	flex-grow:1;
	border-radius:5px;
	/* width:300px; */
}

section > article > h3 {
	font:1.5em Palatino Linotype;
	padding:20px 20px 10px 20px;
	color:#FFF;
	margin:0px;
	white-space:nowrap;
	border-radius:3px;
}

section > article:nth-of-type(5n+1) > h3 {
	background-color:#1B6495;
}

section > article:nth-of-type(5n+1){
	border:2px solid #1B6495;
}

section > article:nth-of-type(5n+2) > h3 {
	background-color:#009688;
}

section > article:nth-of-type(5n+2) {
	border:2px solid #009688;
}

section > article:nth-of-type(5n+3) > h3 {
	background-color:#36474F;
}

section > article:nth-of-type(5n+3){
	border:2px solid #36474F;
}

section > article:nth-of-type(5n+4) > h3 {
	background-color:#961414;
}

section > article:nth-of-type(5n+4) {
	border:2px solid #961414;
}

section > article:nth-of-type(5n+5) > h3 {
	background-color:#E5C25C;
}

section > article:nth-of-type(5n+5) {
	border:2px solid #E5C25C;
}

section > article > h3 > a {
	text-decoration:none;
	color:white;
}

section > article p {
	font:1em Palatino Linotype;
	padding:10px;
}

section > article > footer {
	border-top:1px solid #DDD;
	padding:5px;
	overflow:hidden;
	position:absolute;
	bottom:0;
	width:100%;
}

section > article > footer > time {
	padding:10px;
	float:left;
}

section > article > footer > span.author {
	padding:10px;
	float:right;
}

nav.mainMenu h2 {
	display:none;
}

nav.mainMenu > ul.topMenu {
	flex-flow:row wrap;
	justify-content:center;
	align-items:center;
	margin:0;
	padding:0;
	list-style:none;
}

nav.mainMenu > ul.topMenu > li {
	margin:0;
	padding:0 10px;
}

nav.mainMenu > ul.topMenu > li.activeMenu > a {
	color: #22749b;
}

nav.mainMenu > ul.topMenu > li > a {
	display:block;
	height:40px;
	text-decoration:none;
	white-space:nowrap;
}

nav.sideMenu {
	font-family:Verdana, sans-serif;
	background-color:#FFF;
	margin: 0 32px;
}

nav.sideMenu h2 {
	display:none;
}

nav.sideMenu ul {
	list-style:none;
	padding:0;
}

nav.sideMenu > ul.topMenu {
	margin:0;
	display:flex;
	flex-flow:column nowrap;
	justify-content:flex-start;
}

nav.sideMenu ul.topMenu li ul.subMenu {
	display:none;
	margin:0;
}

nav.sideMenu ul.topMenu li.activeMenu ul.subMenu {
	display:block;
	margin:0;
}

nav.sideMenu > ul.topMenu > li {
	font-size:1em;
	font-weight:bold;
	white-space:nowrap;
	padding:20px 10px 10px 10px;
	white-space:nowrap;
}

nav.sideMenu > ul.topMenu > li > a {
	text-decoration:none;
}

nav.sideMenu > ul.topMenu li.activeMenu > a {
	color:#22749b;
	text-decoration:none;
}


nav.sideMenu ul.subMenu {
	margin:10px 5px 0 0;
}

nav.sideMenu ul.subMenu li {
	font-size:0.8em;
	padding:10px 10px 5px 20px;
}

nav.sideMenu ul.subMenu > li > a{
	text-decoration:none;
}

nav.mainMenu > ul.topMenu {
	flex-flow:row wrap;
	justify-content:left;
	align-items:center;
	margin:0;
	padding:0;
	list-style:none;
}

article > ul > li {
	font-size:1em;
	margin:0;
	padding:0 10px;
}

article > ul > li > a {
	text-decoration:none;
	white-space:nowrap;
}

a:hover {
	color:#F00 !important;
}

p {
	text-indent:20px;
}

.value {
	color:#444444;
	font-weight:bold;
	white-space:nowrap;
}

td.desc {
	text-align:left;
	white-space: normal;
}

td.check {
	text-align:center;
}

var {
	font-style:italic;
	font-weight: bold;
	color:#990000;
}

samp {
	font-style:italic;
	font-size:1.2em;
	color:#008;
	background-color: #EEE;
}

th {
	color: #36474F;
	font-size: 1.1em;
}
td, th {
	padding:5px 10px 5px 0;
}

table.valueTable th {
	border-bottom:1px solid #333;
}

table.selectTable {
	border-collapse: collapse;
}

table.selectTable td, table.selectTable th {
	padding:5px 10px 5px 5px;
	border-right:1px solid #333;
	border-bottom:1px solid #333;
}

table.selectTable td:last-child, table.selectTable th:last-child {
	border-right: 0;
	border-bottom:1px solid #333;
}

table.tabTable td {
	vertical-align: top;
}

h1, h2, h3, h4 {
	/* color: #000077; */
}
