/* Begin General styles */
a {
	text-decoration: none;
	color: #666;
}

a:hover {
	color: #F00 !important;
}

.activeMenu > a {
	color: #47B;
}

p {
	text-indent: 2.5em;
}

h1 {
	font-weight: 500;
	font-size: 2em;
	margin-bottom: .5em;
}

h2 {
	color: #900;
	text-align: center;
	font-size: 1.2em;
}

var {
	font-style: italic;
	font-weight: bold;
	color: #900;
}

samp {
	font-style: italic;
	font-size: 1.2em;
	color: #14A;
}

figure > p {
	text-indent: 0;
	padding: 1em .5em;
	width: fit-content;
	background-color: #EEE;
	border: 1px solid #CCC;
}

figcaption {
	font-weight: bold;
}

th {
	color: #36474F;
	font-size: 1.1em;
}

td, th {
	padding: .5em 1em .5em 0;
}

.value {
	color: #444;
	font-weight: bold;
	white-space: nowrap;
}

td.desc {
	text-align: left;
	white-space: normal;
}

td.check {
	text-align: center;
}

nav ul {
	margin: 0;
	padding: 0;
}

section > article::after {
	display: block;
	content: '';
	width: 8em;
	margin: 1em auto 3em auto;
	border-bottom: 1em dotted #CCC;
}

article.overview h2, ul {
	text-align: center;
}

article.overview li {
	display: block;
	font-size: 1.2em;
	text-align: center;
	margin: .1em .1em;
	padding: .2em;
	background-color: #EEE;
	border: 1px solid #CCC;
}

/* End General styles */

body {
	display: flex;
	flex-flow: column;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
}

/* Begin Header block style */
header {
	flex-basis: 36px;
	font-size: 1.1em;
	margin: 0;
	order: 1;
	border-bottom: 2px solid #DDD;
}

header > nav > ul {
	display: flex;
	flex-flow: row wrap;
	list-style: none;
}

header > nav > ul > li {
	margin: .5em .5em;
}
/* End Header block style */

/* Begin Main block style */
main {
	display: flex;
	flex-flow: column;
	order: 2;
	margin: 1em;
	max-width: 60em;
}

main > section {
	margin: .2em 0;
	display: inline-block;
	order: 2;
}

main > nav {
	order: 1;
}

main > nav > h2 {
	font-size: 2em;
	text-align: center;
}

main > nav > ul {
	display: flex;
	flex-flow: column;
	justify-content: center;
	font-size: 1.2em;
	list-style: none;
}

main > nav li {
	font-size: 1.2em;
	text-align: center;
	margin: .1em .1em;
	padding: .2em;
	background-color: #EEE;
	border: 1px solid #CCC;
}
/* End Main block style */

/* Begin Table styles */
table.valueTable th {
	border-bottom: 1px solid #333;
}

table.selectTable {
	border-collapse: collapse;
}

table.selectTable td, table.selectTable th {
	padding: 4px 8px 4px 4px;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
}

table.selectTable td:last-child, table.selectTable th:last-child {
	border-right: 0;
	border-bottom: 1px solid #333;
}

table.tabTable td {
	vertical-align: top;
}
/* End Table styles */

@media screen and (min-width: 750px) {
	header {
		font: 1.4em;
	}

	header > nav > ul > li {
		margin: .5em 1em;
	}

	article.overview li {
		display: inline-block;
		font-size: 1.2em;
		text-align: center;
		margin: .1em .1em;
		padding: .2em;
		background-color: #EEE;
		border: 1px solid #CCC;
	}

	main {
	  flex-direction: row;
	}
	
	main > nav {
	  flex: 0 0 15em;
	  margin: .5em 2em .5em .5em;
	}
	
	main > nav > h2 {
		font-size: 1em;
		text-align: left;
	}
	
	main > nav li {
		margin: 0 1em .5em 1em;
		border: none;
		background-color: inherit;
		font-size: inherit;
		text-align: inherit;
		padding: inherit;
		display: block;
	}

	main > nav ul {
		background-color: inherit;
		font-size: inherit;
		text-align: inherit;
		padding: inherit;
		display: block;
		margin: 0;
		position: fixed;
	}
}
